{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock %}

{% block content %}

    {% include 'funuser/_funuser_url.html' %}

    <h1>{% trans "Password Reset" %}</h1>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    {% if user.is_superuser %}
        <h2>
            
            {% blocktrans %}
                You are administrator, please reset password via terminal
            {% endblocktrans %}

        </h2>
    {% else %}
        <p>
            
            {% blocktrans %}
                Forgotten your password? Enter your e-mail address below, 
                and we'll send you an e-mail allowing you to reset it
            {% endblocktrans %}

        <form method="POST" action="{% url 'account_reset_password' %}" 
            class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'Reset My Password' %}" 
                class="btn btn-info"/>
        </form>

        <p>
            {% blocktrans %}
                Please contact us if you have any trouble resetting 
                your password.
            {% endblocktrans %}
        </p>

        {% if user.is_authenticated %}            
            <script>
                document.querySelector('#id_email')
                    .setAttribute('value', '{{ request.user.email }}'); 
                document.querySelector('#id_email')
                    .setAttribute('readonly','readonly');
            </script>        
        {% endif %}

    {% endif %}

{% endblock %}


{% block optionaljs %}
    <script src="{% static 'funuser/funuser.js' %}"></script>
{% endblock optionaljs %}
