{% extends '_funblog_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load l10n %}

{% load tz %}

{% block title %}
    {% trans 'Blog'  %}
{% endblock title %}

{% block content %}

    <div class="row text-center mt-5">
        <div class="col offset-xl-2  col-auto ">
            <form method="post"  enctype="multipart/form-data" class="">
                {% csrf_token %}
                {{ form.media }}
                {{ form|crispy }}
                <div class="col col-12 text-center" >
                    <input class="btn btn-outline-info " type="submit" 
                        value="{% trans 'Upload' %}" />
                </div>
            </form> 
        </div>
    </div>
    {% include 'funhome/_ckeditor.html' %}

{% endblock %}
