{% extends '_fnotification_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load l10n %}

{% load tz %}

{% block title %}
    {% trans 'Notification'  %}
{% endblock title %}

{% block content %}

    <h2 class="text-center">{% trans 'Notification' %}</h2>

    <div class="row">

            {% for n in object_list %} 
                <div class=
                    "col col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-2">
                    <div class="card  click-to-url" 
                        style="max-width: 100%;" 
                        data-url="">

                        <div class="card-body">
                            <p class="card-title small">
                                {{ n.title }}
                            </p>

                            <p class="card-text small d-none d-md-block">
                                {{ n.poster }}
                            </p>

                            <p class="text-right border-right" 
                                style="font-size: x-small;">
                                {{ n.DOC }}
                            </p>

                            <a href="" 
                                class="card-link small">
                                {% trans 'View' %}
                            </a>

                        </div>
                    </div>
                </div>

            {% endfor %}
    
    </div>

    {% include 'funhome/_common_pagination.html' %}

    {% include 'funhome/_ckeditor.html' %}
{% endblock %}
