

{% load i18n %}
{% load l10n %}


{% if page_obj %}
    <div class="pagination justify-content-center  align-items-center mt-5" 
        style="font-size: large;">
        <span class="step-links">
            {% if page_obj.has_previous %}

                {% ifnotequal page_obj.number|add:'-1' 1 %}
                    <a href="?page=1" class="btn btn-primary btn-sm">
                        &laquo; {% trans 'first page' %}
                    </a>
                {% endifnotequal %} 

                <a href="?page={{ page_obj.previous_page_number }}"  
                    class="btn btn-primary btn-sm">
                    {% trans 'previous page' %}
                </a>

            {% endif %}

            <span class="current">
                {{ page_obj.number }}/{{ page_obj.paginator.num_pages }} 
                {% trans 'Page' %} 
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"  
                    class="btn btn-primary btn-sm">{% trans 'next page' %}</a>

        {% ifnotequal page_obj.number|add:'1' page_obj.paginator.num_pages %}
                    <a href="?page={{ page_obj.paginator.num_pages }}"  
                        class="btn btn-primary btn-sm">
                        {% trans 'last page' %} &raquo;
                    </a>
        {% endifnotequal %}
            
            {% endif %}

        </span>
    </div>
{% endif %}
