
{% load i18n %}
{% load l10n %}
{% load static %}
{% load account %}
{% load funhome_tags %}
{% load funuser_tags %}

<nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-sm ">
    <div class="container">
        <a class="navbar-brand" href="/">x-dove</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#funNavbarContent" aria-controls="funNavbarContent" 
            aria-expanded="false" aria-label="Toggle navigation">
            <span >=</span>
        </button>
        
        <div class="collapse navbar-collapse" id="funNavbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        {% trans 'Home' %} 
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'eduhub:label_list' %}">
                        {% trans 'Eduhub' %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans 'Developers' %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="messageDropdown" 
                        role="button" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="false">
                        {% trans 'Message' %}
                    </a>
                    <div class="dropdown-menu" 
                        aria-labelledby="messageDropdown">
                        {% for message in messages %}
                            <a class="dropdown-item" href="#">{{message}}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>

            {% get_allow_registration as allow_registration %}
            
            <ul class="form-inline navbar-nav my-2 my-lg-0"> 
            
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  
                            id="user_dropdown" 
                            role="button" data-toggle="dropdown" 
                            aria-haspopup="true" aria-expanded="false">
                            {{ request.user }}
                        </a>
                        <div class="dropdown-menu" 
                            aria-labelledby="user_dropdown">
                            <a class="dropdown-item" 
                                href="{% url 'funuser:funuser_update' %}">
                                &#128458;{% trans "Information" %}
                            </a>
                            <a class="dropdown-item" 
                                href="{% url 'funblog:list' %}">
                                &#128276;{% trans "Notification" %}
                            </a>
                            <a class="dropdown-item" 
                                href="{% url 'funblog:list' %}">
                                &#128221;{% trans "Blog" %}
                            </a>
                            <a class="dropdown-item" 
                                href="/accounts/password/reset/">
                                &#128584;{% trans "Password" %}
                            </a>
                            <a class="dropdown-item" 
                                href="{% url 'account_logout' %}">
                                &#8627;{% trans 'Log Out' %}
                            </a>
                        </div>
                    </li>

                {% else %}                
                    <li class="nav-item">
                        <a class="p-2 text-dark" 
                            href="{% url 'account_login' %}">
                            {% trans 'Log In' %}
                        </a>
                    <li/>
                    {% if allow_registration %}
                        <li class="nav-item">
                            <a class="btn btn-outline-primary" 
                                href="{% url 'account_signup' %}">
                                {% trans 'Sign Up' %}
                            </a>
                        <li/>
                    {% endif %}
                {% endif %}
            
            </ul>

        </div>
    </div> 
</nav>