{% extends 'funhome/_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load l10n %}
{% load tz %}


{% block title %}
    {% trans 'Sticker detail'  %}
{% endblock title %}

{% block content %} 

    <h6 class="text-center">{{ funhomesticker.title }}</h6>
    <hr/> 

    {% autoescape off %}
        {{ funhomesticker.content }}
    {% endautoescape %}
    <hr/>

    <p class="text-right " >
        <a href=
    "{% url 'funuser:funuser_detail' user=funhomesticker.promulgator.id %}">
            {{ funhomesticker.promulgator }}
        </a> 
    </p>

    <p class="text-right small">{{ funhomesticker.promulgating_date }}</p>
    <hr/>
    
    <p class="small">
        {{ funhomesticker.comment }}
    </p> 

    {% ifequal funhomesticker.promulgator  request.user  %}

        <div class="col col-12 text-right" >
            <a class=" btn btn-sm btn-info" 
                href="/admin/funhome/funhomesticker/{{ funhomesticker.id }}">
                {% trans 'Edit' %}
            </a>
        </div>

    {% endifequal %}
 

{% endblock %}
