
{% extends 'funhome/_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load l10n %}
{% load tz %}

{% block title %} legal information {% endblock title %}

{% block optionalcss %}

{% endblock optionalcss %}

{% block content %} 
    {% trans 'legal information' %}
    <br/>
{% endblock content%}

{% block optionaljs %}

{% endblock optionaljs %}
