
{% extends 'eduhub/_eduhub_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load eduhub_tags %}


{% block title %}
    {% trans 'Content details'  %}
{% endblock title %}

{% block content %} 
    <h6 class="text-center">{{ asharingcontent.title }}</h6>
    <hr/> 
    {% autoescape off %}
        {{ asharingcontent.content }}
    {% endautoescape %}
    <hr/>
    {% if asharingcontent.cfrom %}
        <p class="text-right " >
            <a href="
            {% url 'funuser:funuser_detail' user_id=asharingcontent.cfrom.id %}">
                {{ asharingcontent.cfrom }}
            </a> 
        </p> 
    {% else %}
        <p class="text-right " >
            {% trans 'Unknown user' %}
        </p>
    {% endif %}
    <p class="text-right small">
        {{ asharingcontent.DOC }}
        <br/>
        {{ asharingcontent.classification }}
    </p>
    <hr/>
    <p class="small">
        {{ asharingcontent.comment }}
    </p>
    {% if user_is_judge %}
        <div class="col col-12 text-center " insert-url=
        "{% url 'eduhub:appraising_create' appraising_c_id=asharingcontent.id %}">
        </div>
    {% endif %}
    {% ifequal asharingcontent.cfrom request.user %} 
        <div class="col col-12 text-center" >
            <a href=
            "{% url 'eduhub:appraising_c_update' pk=asharingcontent.id %}" 
                class="btn btn-sm btn-info">{% trans 'Edit' %}
            </a>
            <a href=
            "{% url 'eduhub:appraising_c_delete' pk=asharingcontent.id %}" 
                class="btn btn-sm btn-danger">{% trans 'Delete' %}
            </a>
        </div>
    {% endifequal %}
 

{% endblock %}